<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ccp_Module::main_menu" title="CCP Module" sortOrder="100">
                    <resource id="Ccp_Module::product" title="Ccp Products" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
